/* common ResetPassword SignUp */
.resetPassword-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.resetPassword-row {
  width: 400px !important;
  margin-top: 10% !important;
  margin-block: 10% !important;
  background-color: #ffffff !important;
  border-radius: 16px !important;
  box-shadow: rgba(0, 0, 0.3, 0.2) 0px 5px 10px !important;
}
.resetPassword-logo {
  align-items: center;
  justify-content: center;
  width: 330px !important;
  display: flex;
}
.form-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.resetpassword-condition {
  color: gray;
  margin-left: 20px;
}
.resetPassword-notmatch {
  color: red;
  margin-left: 20px;
}
